@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Div>

<div>
    @foreach (Div div in Model)
    {
        <h2>@div.Text</h2>
        @foreach (Link link in @div.Links)
        {
        <div>
            <a href="@link.Href" target="_blank">@link.Label</a>
        </div>
        }
    }
</div>

